.DS_Store
Assessment/Projects/Final Project/src/trainingData/CELab/ce/
Assessment/Projects/Final Project/src/trainingData/CELab/filtered/
rgb_*.png
Assessment/Projects/Final Project/src/trainingData/test_6/test_6_1.zip
